html {
  font-size: 90%;

  @include respond-to('medium') {
    font-size: 95%;
  }

  @include respond-to('large') {
    font-size: 100%;
  }
}

body {
  @include font-size(16px);
  background: darken($color-white, 5%);
  font-family: $roboto;
}

a {
  color: $color-primary;
  text-decoration: none;
}
