.users__header {
  margin: 15px 0 30px;

  svg {
    margin-right: 10px;
    vertical-align: bottom;
  }
}

.users__status-icon {
  padding: 0 5px;
}

.users__avatar {
  border-radius: 50%;
  height: 28px;
  margin-right: 10px;
  vertical-align: middle;
  width: 28px;
}
