.users__header {
  margin: 15px 0 30px;

  svg {
    margin-right: 10px;
    vertical-align: bottom;
  }
}

.users__status-icon {
  padding: 0 5px;
  position: relative;
  text-align: left;

  @include respond-to('medium') {
    text-align: center;
  }

  svg {
    bottom: -24px;
    position: absolute;

    @include respond-to('medium') {
      position: static;
    }
  }
}

.table--responsive .users__status-icon {
  margin-bottom: -20px;

  @include respond-to('medium') {
    margin-bottom: 0;
  }
}

.users__avatar {
  border-radius: 50%;
  height: 28px;
  margin-right: 10px;
  vertical-align: middle;
  width: 28px;
}

.users__avatar-container {
  text-align: left;

  @include respond-to('medium') {
    text-align: right;
  }
}
