---
ip: "192.168.10.10"
memory: 2048
cpus: 1
hostname: lms
name: lms
provider: virtualbox
mariadb: true

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    - map: "/Users/jasonhee/Projects/lms"
      to: "/home/vagrant/lms"
      type: "nfs"

sites:
    - map: homestead.app
      to: "/home/vagrant/lms/public"

databases:
    - homestead

# blackfire:
#     - id: foo
#       token: bar
#       client-id: foo
#       client-token: bar

# ports:
#     - send: 50000
#       to: 5000
#     - send: 7777
#       to: 777
#       protocol: udp
