 .container {
  @extend %flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1250px;
  width: 90%;
}

.container--centered {
  @extend %flex--center;
  @extend %flex--middle;
}

.container--full-height {
  min-height: 100vh;
}

.container--full-width {
  max-width: none;
  width: 100%;
}

.container--nowrap {
  flex-wrap: nowrap;
}

.container--f-start {
  @extend %flex--top;
}

.container--primary-bg {
  background: $color-primary;
}
