 .container {
  @extend %flex;
  flex-wrap: wrap;
}

.container--centered {
  @extend %flex--center;
  @extend %flex--middle;
  background: $color-primary;
}

.container--full-height {
  min-height: 100vh;
}

.container--nowrap {
  flex-wrap: nowrap;
}

.container--f-start {
  @extend %flex--top;
}
