@for $i from 1 through 6 {
  .flex__item--#{$i} {
    @extend %flex__item--#{$i};

    @include respond-to('large') {
      flex: #{$i} 0;
    }
  }
}

.flex {
  @extend %flex;
}

.flex--center {
  @extend %flex--center;
}

.flex--space-between {
  @extend %flex--space-between;
}

.flex--end {
  @extend %flex--end;
}

.flex--top {
  @extend %flex--top;
}

.flex--middle {
  @extend %flex--middle;
}

.flex--bottom {
  @extend %flex--bottom;
}

.flex--wrap {
  @extend %flex--wrap;
}

.flex__item {
  + .flex__item {
    margin-left: 25px;
  }
}

.flex__item--full-width {
  flex: 1 100%;
}
