@for $i from 1 through 6 {
  .flex__item--#{$i} {
    @extend %flex__item--#{$i};

    @include respond-to('large') {
      flex: #{$i} 0;
    }
  }
}

.flex {
  @extend %flex;
}

.flex--space-between {
  justify-content: space-between;
}

.flex--flex-start {
  align-items: flex-start;
}

.flex--flex-end {
  align-items: flex-end;
}


.flex__item {
  + .flex__item {
    margin-left: 25px;
  }
}

.flex__item--full-width {
  flex: 1 100%;
}
