.content {
  @extend %flex;
  @extend %flex__item--1;
  align-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;

  @include respond-to('medium') {
    flex: 4;
  }

  @include respond-to('large') {
    flex: 6;
  }
}

.content__wrapper {
  @extend %flex__item--full-width;
  padding: 20px;
}
