.content {
  @extend %flex;
  @extend %flex__item--1;
  align-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  padding-left: $sidebar-width;
}

.content__wrapper {
  @extend %flex__item--full-width;
  margin-bottom: 100px;
}
