$btn-danger-bg: #910808;
$btn-muted-bg: #ccc;
$btn-muted-color: #333;

.btn {
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-family: $roboto;
  font-weight: normal;
  margin-bottom: 0;
  padding: 10px 15px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.btn--lg {
  @include font-size(18px);
  border-radius: 0;
  line-height: 1.33;
  padding: 10px 16px;
}

.btn--sm {
  @include font-size(13px);
  border-radius: 2px;
  padding: 4px 9px;
}

.btn--primary {
  background: $color-highlight;
  color: $color-white;
}

.btn--secondary {
  background: mix($color-highlight-darker, $color-white);
  color: $color-white;
}

.btn--danger {
  background: $btn-danger-bg;
  color: $color-white;
}

.btn--muted {
  background: $btn-muted-bg;
  color: $btn-muted-color;
}

%btn--outline {
  background: transparent;
}

.btn--outline {
  @extend %btn--outline;
  border: 2px solid $color-highlight;
  color: $color-highlight;
}

.btn--outline-danger {
  @extend %btn--outline;
  border: 2px solid $btn-danger-bg;
  color: $btn-danger-bg;
}

%btn--flat {
  background: transparent;
  border: 0;
}

.btn--flat {
  @extend %btn--flat;
  color: tint(desaturate($color-highlight, 60%), 10%);
}

.btn--flat-danger {
  @extend %btn--flat;
  color: tint(desaturate($btn-danger-bg, 60%), 10%);
}
