.button-group {
  margin: 5px 0;
}

.button-group:not(.hidden) {
  height: auto;

  .btn {
    vertical-align: middle;
  }

  .btn--md {
    width: 110px;
  }
}

.button-group--right {
  text-align: right;
}

.admin-actions-group {
  border-top: 1px solid shade($color-white, 12%);
  padding-top: 60px;

  &.hidden {
    border-top: 0;
  }
}
