%flex {
  display: flex;
}

%flex--center {
  justify-content: center;
}

%flex--middle {
  align-items: center;
}

//flex items
%flex__item--none {
  flex: none;
}

%flex__item--auto {
  flex: auto;
}

%flex__item--full-width {
  flex: 1 100%;
}

@for $i from 1 through 6 {
  %flex__item--#{$i} {
    flex: $i;
  }
}
