.list {
  list-style: none;
}

.list--plain {
  padding-left: 10px;

  li {
    margin-bottom: 30px;
  }
}

.list--files {
  padding-left: 12px;

  > li {
    @extend %list-icon;

    &::before {
      margin-top: .2em;
    }
  }
}

.list--inline li {
  display: inline-block;
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}
