.list {
  list-style: none;
  margin: 0;
}

.list--plain {
  padding-left: 10px;
}

.list--small {
  margin: 3px 0 0;

  li {
    margin-bottom: 3px;
  }
}

.list--files {
  padding-left: 0;

  > li {
    @extend %list-icon;
    padding-bottom: 8px;
    padding-left: calc(1.5em + 12px);
    padding-top: 8px;

    &::before {
      margin-top: .2em;
    }
  }
}

.list--inline li {
  display: inline-block;
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.list--striped {
  > li:nth-child(odd) {
    background: shade($color-white, 3%);
  }
}
