.notifications {
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 78px;
  z-index: 2;
}

.notification {
  background: $color-white;
  box-shadow: -2px 2px 2px rgba($color-black, .5);
  display: block;
  margin-top: 5px;
  max-width: 320px;
  min-width: 200px;
  padding: 12px 15px;
  position: relative;
  transform: translate3d(100%, 0, 0);
  transition: transform .35s;

  &:first-child {
    margin-top: 0;
  }
}

.notification--show {
  transform: translate3d(0, 0, 0);
}

.notification--success {
  background: $state-success-bg;
  box-shadow: -2px 2px 2px rgba(shade($state-success-bg, 50%), .5);
  color: $state-success-color;
}

.notification--danger {
  background: $state-danger-bg;
  box-shadow: -2px 2px 2px rgba(shade($state-danger-bg, 50%), .5);
  color: $state-danger-color;
}
