.panel {
  @extend %clearfix;
  display: block;
  padding: 5px 10px;
  position: relative;

  @include respond-to('small') {
    padding: 10px 20px;
  }

  @include respond-to('medium') {
    padding: 20px 40px;
  }

  > :not(.grid):last-child {
    margin-bottom: 0;
  }
}

.panel--default {
  background: $panel-default-bg;
  //scss-lint:disable ColorVariable
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .12), 0 2px 5px 0 rgba(0, 0, 0, .15);
}

.panel--secondary {
  background: $color-white;
}

.panel__title {
  @include font-size(36px);
  color: shade($color-secondary, 9%);
  margin-top: 40px;
}

.panel__title--small {
  @include font-size(28px);
}

.panel__divider {
  border-bottom: 1px solid rgba($color-secondary, .2);
  margin-bottom: 30px;
  padding-bottom: 18px;
}

// .panel--pad-lg {
//   padding: 40px;

//   + .panel--pad-lg {
//     margin-top: 0;
//   }
// }

// .panel__heading {
//   @include font-size(36px);
//   border-bottom: 1px solid rgba($color-secondary, .2);
//   color: shade($color-secondary, 9%);
//   margin-bottom: 30px;
//   padding-bottom: 20px;
// }

// .panel__heading--small {
//   @include font-size(28px);
//   margin-top: 0;
// }

// .panel__subheading {
//   @include font-size(16px);
//   margin-bottom: 20px;
//   padding-left: 5px;
// }

// .panel__divider {
//   @extend %flex;
//   justify-content: space-between;
//   margin: 80px 0 60px;
// }
