.tabs {
  @extend %flex;
  background-color: $panel-default-bg;
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: relative;
  width: 100%;
}

.tab {
  @extend %flex__item--full-width;
  display: block;
  letter-spacing: .8px;
  text-align: center;
  text-transform: uppercase;

  a {
    color: shade($color-primary, 45%);
    display: block;
    height: 100%;
    padding: 20px 0;
    width: 100%;
  }
}

.tab--active a {
  color: $color-primary;
}

.tabs__indicator {
  background-color: $color-primary;
  bottom: 0;
  height: 2px;
  left: 0;
  position: absolute;
}
