html {
  font-size: 90%; }
  @media screen and (min-width: 768px) {
    html {
      font-size: 95%; } }
  @media screen and (min-width: 992px) {
    html {
      font-size: 100%; } }

body {
  font-size: 16px;
  font-size: 1rem;
  background: #ededed;
  font-family: "Roboto", sans-serif; }

a {
  color: #d60080;
  text-decoration: none; }

.container, .content {
  display: -ms-flexbox;
  display: flex; }

.container--centered {
  -ms-flex-pack: center;
  justify-content: center; }

.container--centered {
  -ms-flex-align: center;
  align-items: center; }

.content__wrapper, .topbar {
  -ms-flex: 1 100%;
  flex: 1 100%; }

.sidebar, .content {
  -ms-flex: 1;
  flex: 1; }

input:focus,
textarea:focus,
button:focus {
  outline: none; }

.btn {
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  margin-bottom: 0;
  padding: 10px 15px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap; }

.btn--lg {
  font-size: 18px;
  font-size: 1.125rem;
  border-radius: 0;
  line-height: 1.33;
  padding: 10px 16px; }

.btn--primary {
  background: #4a9800;
  color: #fafafa; }

.btn--secondary {
  background: #83d67d;
  color: #fafafa; }

.btn--alert {
  background: red;
  color: #fafafa; }

.btn--muted {
  background: #ccc;
  color: #333; }

.container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 100vh; }

.container--centered {
  background: #d60080; }

.sidebar {
  background: #d60080;
  position: fixed;
  width: 100%;
  z-index: 1; }
  @media screen and (min-width: 480px) {
    .sidebar {
      position: static;
      width: auto; } }

.avatar {
  background: #570034;
  color: white;
  text-align: center; }

.avatar-figure {
  margin: 0;
  padding: 40px 20px 10px; }

.avatar__name {
  font-size: 23px;
  font-size: 1.4375rem;
  font-weight: 600; }

.avatar__status {
  font-size: 12px;
  font-size: 0.75rem;
  background: #4a9800;
  border-radius: 15px;
  display: inline-block;
  margin-bottom: 40px;
  padding: 10px 20px; }

.sidebar-nav__links {
  list-style: none; }

.sidebar-nav__link {
  color: #fafafa;
  display: inline-block;
  margin: 5px 0;
  text-decoration: none; }

.sidebar-icon {
  margin-right: 10px;
  vertical-align: middle; }

.content {
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  @media screen and (min-width: 768px) {
    .content {
      -ms-flex: 4;
      flex: 4; } }
  @media screen and (min-width: 992px) {
    .content {
      -ms-flex: 6;
      flex: 6; } }

.content__wrapper {
  padding: 20px; }

.topbar {
  background: #fafafa;
  border-bottom: 1px solid #ffccea;
  padding: 8px 20px; }

.topbar__logo {
  vertical-align: middle; }

.topbar__subtitle {
  font-size: 14px;
  font-size: 0.875rem;
  display: inline-block;
  margin-left: 20px; }

.panel {
  padding: 20px; }
  .panel + .panel {
    margin-top: 30px; }

.panel--default {
  background: #fafafa;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.15); }

.panel__heading {
  font-size: 20px;
  font-size: 1.25rem;
  border-bottom: 1px solid rgba(87, 0, 52, 0.2);
  color: #290018;
  margin-bottom: 30px;
  padding-bottom: 15px; }

.panel__subheading {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 20px;
  padding-left: 5px; }

.list--files li {
  padding-left: 1.5em; }
  .list--files li::before {
    background: url("../img/icons/file.svg") no-repeat;
    color: #d60080;
    content: '';
    display: inline-block;
    height: 1.5em;
    margin-left: -1.5em;
    position: absolute;
    width: 1.5em; }

.list {
  list-style: none; }

.list--plain {
  padding-left: 10px; }
  .list--plain li {
    margin-bottom: 30px; }

.list--files {
  padding-left: 12px; }
  .list--files li::before {
    margin-top: .1em; }

.list--inline li {
  display: inline-block; }

.login__container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.52);
  padding: 30px 35px;
  position: relative;
  text-align: center; }
  .login__container::before {
    bottom: 0;
    box-shadow: 0 5px 80px rgba(255, 255, 255, 0.32);
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0; }

.login__site-name {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700; }

.login-form__input {
  background: #ededed;
  border: 1px solid #ccc;
  display: block;
  padding: 10px 0 10px 40px;
  width: calc(100% - 40px); }

.login-form__input--name {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.login-form__input--password {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.login-remember {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #999;
  margin: 15px 0;
  text-align: left; }

.btn--login {
  background: #43c86f;
  border-color: #4cae4c;
  border-radius: 6px;
  color: #fff;
  height: 55px;
  width: 100%; }

.login-footer {
  font-size: 13px;
  font-size: 0.8125rem;
  margin: 25px 0 10px; }

.login-footer__link {
  border-bottom: 1px solid #818b99;
  color: #fff;
  text-decoration: none; }

.lesson-files {
  margin-top: 50px; }

.lesson-files__header {
  font-size: 16px;
  font-size: 1rem; }

.lesson-file-name {
  font-size: 14px;
  font-size: 0.875rem;
  margin-bottom: 5px; }

.lesson-file-desc {
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 0; }

/*# sourceMappingURL=app.css.map */
