///  Colors
$color-primary: #d60080; //pink
$color-secondary: darken($color-primary, 25%);
$color-highlight: #4a9800; //lime-green
$color-highlight-darker: #0cb200; //darker-green
$color-white: #f1f1f1; //white
$color-black: #040404;
$color-muted: #a2a2a2;

/// Feedback states
$state-success-color: #3c763d;
$state-success-bg: #dff0d8;
$state-success-border: shade($state-success-bg, 5%);

$state-info-color: #31708f;
$state-info-bg: #d9edf7;
$state-info-border: shade($state-info-bg, 7%);

$state-warning-color: #8a6d3b;
$state-warning-bg: #fcf8e3;
$state-warning-border: shade($state-warning-bg, 5%);

$state-danger-color: #a94442;
$state-danger-bg: #f2dede;
$state-danger-border: shade($state-danger-bg, 5%);

//scss-lint:disable ColorVariable
$panel-default-bg: mix(#fff, $color-white, 50%);

/// fonts
$roboto: 'Roboto', sans-serif;
$base-font-size: 16px;

/// Media Queries breakpoints
$breakpoints: (
  'x-small': (min-width: 320px),
  'small': (min-width: 480px),
  'medium': (min-width: 768px),
  'large': (min-width: 992px),
  'x-large': (min-width: 1200px)
);

/// Project Directories
$img-dir: '../img/';

// Others
$sidebar-width: 185px;
$gutter-width: 25px;
