html {
  font-size: 90%;

  @media screen and (min-width: $mq-medium) {
    font-size: 95%;
  }

  @media screen and (min-width: $mq-large) {
    font-size: 100%;
  }
}

body {
  @include font-size(16px);
  font-family: $roboto;
}
