//  Colors
$color-primary: #d60080; //pink

// fonts
$roboto: 'Roboto', sans-serif;
$base-font-size: 16px;

// Media Queries breakpoints
$mq-xsmall: 320px;
$mq-small: 480px;
$mq-medium: 768px;
$mq-large: 992px;
$mq-xlarge: 1200px;
