.btn {
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-family: $roboto;
  font-weight: normal;
  margin-bottom: 0;
  padding: 10px 15px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.btn--lg {
  @include font-size(18px);
  border-radius: 0;
  line-height: 1.33;
  padding: 10px 16px;
}

.btn--primary {
  background: $color-highlight;
  color: $color-white;
}

.btn--secondary {
  background: mix($color-highlight-darker, $color-white);
  color: $color-white;
}

.btn--alert {
  background: red;
  color: $color-white;
}

.btn--muted {
  background: #ccc;
  color: #333;
}
